/*Aluamno: Edgar Chang
  Curso: Edgar Chang   */
body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

.grid {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav {
  background-color: #000;
  padding: .5em;  
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 100%;
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: .5em 1em;    
}

nav ul li{  
  flex: 480px;
  flex: 1 300px;
  text-align: right;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

.feature {
    width: 200px;
}
article{
  flex: 50%;
  flex: 1 50%;
}
aside{
  flex: 50%;
  flex:1 50%;
}
